:host{
    display: flex; /*flex container para distribuir el header, main, footer */
    flex-direction: column; /*direccion de los hijos en columna*/
    height: 100vh; /*Altura total de la ventana del navegador*/
    overflow: hidden; /*Evita scroll en el componente completo*/
}

.main-content{
    flex: 1; /*ocupa el espacio restante entre header y el footer*/
    display: flex; /*Centra el contenido*/
    justify-content: center; /*centra horizontalmente los hijos*/
    align-items: flex-start; /*Alinea los hijos al inuco verticsl (parte superior)*/
    padding: 1rem;
    overflow: hidden; /*Evita scrool interno en el area principal*/
}

/* Wrapper específico para el chat dentro del main content */
.chat-wrapper {
  display: flex;                 /* Contenedor flex para organizar sus hijos en columna */
  flex-direction: column;        /* Dirección de los hijos en columna */
  width: 100%;                   /* Ancho total disponible en su contenedor */
  max-width: 600px;              /* Ancho máximo para limitar el chat en pantallas grandes */
  height: 100%;                  /* Altura completa disponible del main-content */
}